<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdrv.dao.PetDao">

	<resultMap id="joinedResult" type="com.zdrv.domain.Pet">
		<id property="id" column="id"/>
		<result property="image" column="image"/>
		<result property="petName" column="pet_name"/>
		<result property="comment" column="comment"/>
		<association property="category" column="category_id"
			javaType="com.zdrv.domain.Category">
			<id property="id" column="id"/>
			<result property="categoryName" column="category_name"/>
		</association>
	</resultMap>


	<select id="selectAll" resultMap="joinedResult">
		SELECT * FROM pets
		JOIN categories
		ON pets.category_id = categories.id
	</select>

	<select id="selectById" parameterType="int" resultMap="joinedResult">
		SELECT * FROM pets
		JOIN categories
		ON pets.category_id = categories.id
		WHERE pets.id = #{id}
	</select>



	<select id="selectAllByCategoryId" parameterType="int" resultMap="joinedResult">
		SELECT * FROM pets
		JOIN categories
		ON pets.category_id = categories.id
		WHERE pets.category_id = #{category.id}
	</select>

	<select id="selectAllByUserId" parameterType="int" resultMap="joinedResult">
		SELECT * FROM pets
		WHERE user_id = #{userId}
	</select>

	<insert id="insert" parameterType="com.zdrv.domain.Pet"
	useGeneratedKeys="true">
	INSERT INTO pets (image, pet_name, comment, category_id)
	VALUES (#{image}, #{petName}, #{comment}, #{category.id})
	</insert>



</mapper>